<!DOCTYPE html>
<html>
  <head>
    <title>express&webpack</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <p>expressとwebpackをつかうよ</p>
    <img src="images/sky_blue.png" style="height: 200px" />
  </body>
</html>
